@font-face {
  font-family: MateSC;
  src: url("../../font/MateSC-Regular.ttf");
}
.sidebar-left {
  padding: 32px 30px 40px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #6695ca;
  background-color: #000000;
  transition: all 0.5s ease-out;
  font-family: MateSC;
  .logo-img {
    width: 75%;
  }
  .nav-group {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    .wrap-nav-item {
      margin-bottom: 24px;
      .nav-item {
        border: 1px solid #6695ca;
        border-radius: 50%;
        display: flex;
        max-width: 120px;
        height: 115px;
        transition: all 0.5s ease-out;
        background-color: transparent;
        color: #6695ca;
        &:hover {
          transition: all 0.3s ease-out;
          background-color: #6695ca;
          color: #000000;
        }
        .nav-name {
          display: flex;
          align-items: center;
          width: 50px;
          line-height: 17px;
          text-align: center;
          justify-content: center;
          margin: 0 auto;
          font-size: 1.125rem;
        }
      }
    }
  }
  .bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }
  @keyframes bounce-2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .contact {
    line-height: 19px;
  }
  a {
    color: #6695ca;
  }
}

.prologue-page-left {
  transition: all 0.5s ease-out;
  background-color: #ffffff;
}

.case-study-page-left {
  background-color: #6695ca;
  color: #000000;
  a {
    color: #000000;
  }
  .nav-group {
    .wrap-nav-item {
      .nav-item {
        border: 1px solid #000000;
        background-color: transparent;
        color: #000000;
        &:hover {
          background-color: #ffffff;
          border: 1px solid #ffffff;
        }
      }
    }
  }
}

.inquiry-page-left {
  transition: all 0.5s ease-out;
  background-color: #ffffff;
}
