@font-face {
  font-family: MateSC;
  src: url("../../font/MateSC-Regular.ttf");
}
@font-face {
  font-family: MateItalic;
  src: url("../../font/Mate-Italic.ttf");
}
.fixed-navigation {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0;
  padding: 0;
}
.navigation {
  padding: 34px 27px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #6695ca;
  background-color: #000000;
  transition: all 0.5s ease-out;
  max-height: 115px;
  font-family: MateSC;
  .split-section {
    width: 50%;
    display: inline-block;
    .sidebar-icon {
      width: 25px;
      height: 18px;
    }
  }
  .text-right {
    text-align: right;
  }
  .logo-img {
    width: 136px;
  }
  .contact {
    line-height: 19px;
  }
  a {
    color: #6695ca;
  }
}
.header-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6695ca;
  line-height: 19px;
  border-bottom: 1px solid #6695ca;
  background-color: #000000;
  transition: all 0.5s ease-out;
  font-family: MateItalic;
  padding: 25px 60px;
  font-size: 17px;
  height: 50px;
}

.prologue-page-header-mobile {
  background-color: #ffffff;
  transition: all 0.5s ease-out;
}

.case-study-page-header-mobile {
  transition: all 0.5s ease-out;
  color: #000000;
  background-color: #6695ca;
  border-bottom: 1px solid #000000;
}

.inquiry-page-header-mobile {
  background-color: #ffffff;
  transition: all 0.5s ease-out;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ant-drawer-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ant-drawer-body::-webkit-scrollbar {
  display: none;
}

.ant-drawer-content-wrapper {
  font-family: MateSC;
  max-width: 270px;
  .ant-drawer-header {
    display: none;
  }
  .ant-drawer-body {
    .close-icon {
      color: red;
      text-align: right;
      .x-icon {
        width: 25px;
      }
    }
    .nav-group-mobile {
      display: flex;
      flex-direction: column;
      margin: 40px 0;
      .wrap-nav-item-mobile {
        margin-bottom: 24px;
        .nav-item {
          border: 1px solid #6695ca;
          border-radius: 50%;
          display: flex;
          max-width: 120px;
          height: 115px;
          transition: all 0.5s ease-out;
          background-color: transparent;
          color: #6695ca;
          margin: 0 auto;
          &:hover {
            transition: all 0.3s ease-out;
            background-color: #6695ca;
            color: #000000;
          }
          .nav-name {
            display: flex;
            align-items: center;
            width: 50px;
            line-height: 17px;
            text-align: center;
            justify-content: center;
            margin: 0 auto;
            font-size: 1.125rem;
          }
        }
      }
    }

    .bounce-2-mobile {
      animation-name: bounce-2-mobile;
      animation-timing-function: linear;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      transform-origin: bottom;
    }
    @keyframes bounce-2-mobile {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-50px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}

.drawer-section-home {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      background-color: #000000;
      color: #6695ca;
    }
  }
}

.drawer-section-prologue {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      color: #6695ca;
      background-color: #ffffff;
    }
  }
}

.drawer-section-case-study {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      background-color: #6695ca;
      color: #000000;
      .ant-drawer-wrapper-body {
        .ant-drawer-body {
          .nav-group-mobile {
            .wrap-nav-item-mobile {
              .nav-item {
                border: 1px solid #000000;
                background-color: transparent;
                color: #000000;
                &:hover {
                  background-color: #ffffff;
                  border: 1px solid #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}

.drawer-section-inquiry {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      background-color: #ffffff;
      color: #6695ca;
    }
  }
}

.prologue-page-navigation {
  transition: all 0.5s ease-out;
  background-color: #ffffff;
  border-bottom: 1px solid #6695ca;
}

.case-study-page-navigation {
  background-color: #6695ca;
  color: #000000;
  border-bottom: 1px solid #000000;
  a {
    color: #000000;
  }
  .nav-group-mobile {
    .wrap-nav-item-mobile {
      .nav-item {
        border: 1px solid #000000;
        background-color: transparent;
        color: #000000;
        &:hover {
          background-color: #ffffff;
        }
      }
    }
  }
}

.exclusive-page-navigation {
  border-bottom: 1px solid #6695ca;
}

.inquiry-page-navigation {
  transition: all 0.5s ease-out;
  background-color: #ffffff;
  border-bottom: 1px solid #6695ca;
}
